@model SearchModel
@using DPTS.Web.Helpers
@using DPTS.Web.Models
@{ 
    Html.Assets().Styles.Add("/Content/kendo/2017.1.118/kendo.rtl.min.css");
    Html.Assets().Styles.Add("/Content/kendo/2017.1.118/kendo.material.min.css");
    Html.Assets().Styles.Add("/Content/kendo/2017.1.118/kendo.material.mobile.min.css");

    Html.Assets().Scripts.Add("/Scripts/kendo/2017.1.118/kendo.all.min.js");
}
@using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "form-refinesearch tg-haslayout" }))
{
    <div class="tg-refinesearcharea">
        <div class="tg-heading-border tg-small">
            <h2>refine search</h2>
        </div>
        <fieldset>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="form-group">
                        <input id="speciality" name="q" />
                    </div>
                </div>
                <div class="col-sm-6 col-xs-6">
                    <div class="form-group">
                        <div class="locate-me-wrap">
                            <div id="location-pickr-map" class="elm-display-none"></div>
                            <input type="text" autocomplete="on" id="location-address" value="@Model.geo_location" name="geo_location" placeholder="Geo location" class="form-control">
                            <a href="javascript:;" class="geolocate"><img src="https://themographics.com/wordpress/docdirect/wp-content/themes/docdirect/images/geoicon.svg" width="16" height="16" class="geo-locate-me" alt="Locate me!"></a>
                            <a href="javascript:;" class="geodistance"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <div class="geodistance_range elm-display-none">
                                <div class="distance-ml">Distance in&nbsp;( Miles )<span>50</span></div>
                                <input type="hidden" name="geo_distance" value="50" class="geo_distance" />
                                <div class="geo_distance" id="geo_distance"></div>
                            </div>
                        </div>
                        <script>
                                        jQuery(document).ready(function(e) {
                                            jQuery("#geo_distance").slider({
                                                range: "min",
                                                min: 1,
                                                max: 300,
                                                value: 50,
                                                animate: "slow",
                                                orientation: "horizontal",
                                                slide: function(event, ui) {
                                                    jQuery(".distance-ml span").html(ui.value);
                                                    jQuery(".geo_distance").val(ui.value);
                                                }
                                            });
                                        });
                        </script>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-6">
                    <div class="form-group">
                        <button type="submit" class="tg-btn pull-right">Search</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
}
<script>
        jQuery(document).ready(function (e) {
                    jQuery("#speciality").kendoAutoComplete({
                        filter: "startswith", //contain
                       // minLength: 3,
                        placeholder: "speciality, or doctor name",
                        //separator: ", ",
                        dataTextField: "Title",
                        dataSource: {
                            type: "json",
                            serverFiltering: false,
                        transport: {
                                read: {
                                    url: "@Url.Action("Speciality_Read", "Speciality")"
                                }
                        }
                    }
                    });
                });
</script>