@model SearchViewModel
@using DPTS.Web.Models
@{
    ViewBag.Title = "Doctors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="main" class="tg-page-wrapper tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="row">
                    <form>
                        @Html.Partial("_SearchNavigation", Model.SearchModel)
                        <div class="col-md-8 col-sm-12 col-xs-12 pull-right">
                            <div class="tg-doctors-list tg-haslayout">
                                @Html.Partial("_DoctorBox", Model.doctorsModel)
                            </div>
                        </div>
                      </form>
                </div>
            </div>
        </div>
    </div>
</main>