@using DPTS.Web.Models
@model SearchModel
@{
    ViewBag.Title = "DPTS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type='text/javascript'>
/* <![CDATA[ */
var scripts_vars = {"ajaxurl":"https:\/\/themographics.com\/wordpress\/docdirect\/wp-admin\/admin-ajax.php","award_name":"Award Name","award_date":"Award Date","award_description":"Award Description","file_upload_title":"Avatar Upload","delete_message":"Are you sure you want to delete your account?","deactivate":"Are you sure you want to deactivate your account?","delete_title":"Delete account?","deactivate_title":"Deactivate account?","docdirect_upload_nounce":"f285cd2c24","dir_close_marker":"https:\/\/themographics.com\/wordpress\/docdirect\/wp-content\/themes\/docdirect\/images\/close.png","dir_cluster_marker":"\/\/themographics.com\/wordpress\/docdirect\/wp-content\/uploads\/2016\/04\/cluster.png","dir_map_marker":{"attachment_id":"7","url":"\/\/themographics.com\/wordpress\/docdirect\/wp-content\/uploads\/2016\/03\/03.png"},"dir_cluster_color":"#505050","dir_map_type":"ROADMAP","dir_zoom":"11","dir_longitude":"-0.1262362","dir_latitude":"51.5001524","dir_datasize":"10485760","data_size_in_kb":"10240kb","dir_map_scroll":"false","map_styles":"none","site_key":"6Ld7fgcUAAAAANmJV2K3RulmACd_3DJwmYqT7bQw","rating_1":"Not Satisfied","rating_2":"Satisfied","rating_3":"Good","rating_4":"Very Good","rating_5":"Excellent","delete_award":"Delete Award","delete_award_message":"Are you sure, you want to delete this award?","delete_education":"Delete Degree","delete_education_message":"Are you sure, you want to delete this Degree?","delete_experience":"Delete Experience","delete_experience_message":"Are you sure, you want to delete this experience?","delete_category":"Delete Category","delete_category_message":"Are you sure, you want to delete this category?","delete_service":"Delete Service","delete_service_message":"Are you sure, you want to delete this service?","delete_slot":"Delete Slot","delete_slot_message":"Are you sure, you want to delete this slot?","delete_slot_date":"Delete Slot Date","delete_slot_date_message":"Are you sure, you want to delete this slot date?","approve_appointment":"Approve Appointment?","approve_appointment_message":"Are you sure, you want to approve this appointment?","cancel_appointment":"Cancel Appointment?","cancel_appointment_message":"Are you sure, you want to cancel this appointment?","booking_time":"Please select booking time.","gmap_norecod":"No Record Found.","fav_message":"Please login first.","fav_nothing":"Nothing found.","empty_category":"Please add category name.","complete_fields":"Please fill all the fields.","system_error":"Some error occur, please try again later.","valid_email":"Please add valid email address.","user_status":"false","custom_slots_dates":"Atleast one date! start or end date is required.","finish":"Finish","with_in":"within ","kilometer":" km","select_language":" Select Language"};
/* ]]> */
</script>
<main id="main" class="tg-page-wrapper tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="main-page-wrapper tg-haslayout">
                <div class="fw-page-builder-content">
                    <section class="tg-main-section haslayout  stretch_section_contents_corner stretch_section stretch_data" style="margin-top: -100px; padding-top: 0px; padding-bottom: 0px; background-repeat: no-repeat; background-position: 0% 100%; background-size: cover; position: relative; left: -89.5px; box-sizing: border-box; width: 1349px;">
                        <div class="builder-items">
                            <div class="col-xs-12 col-md-12 builder-column ">
                                <div class="tg-banner-holder">
                                    <div class="tg-banner-content">
                                        <div class="container">
                                            <div class="tg-heading-border">
                                                <h1><span>find your nearest</span><div class="dynamic-title">Doctor</div></h1>
                                            </div>
                                            @Html.Action("SearchBox", "Home")
                                        </div>
                                    </div>
                                    <div id="searchbanner-" class="tg-homeslidertwo owl-carousel owl-theme" style="opacity: 1; display: block;">
                                        <div class="owl-wrapper-outer">
                                            <div class="owl-wrapper" style="width: 8094px; left: 0px; display: block; transition: all 1000ms ease; transform: translate3d(0px, 0px, 0px);">
                                                <div class="owl-item" style="width: 1349px;">
                                                    <div class="item">
                                                        <figure>
                                                            <img src="//themographics.com/wordpress/docdirect/wp-content/uploads/2016/08/banner-img1.jpg" alt="Search">
                                                        </figure>
                                                    </div>
                                                </div><div class="owl-item" style="width: 1349px;">
                                                    <div class="item">
                                                        <figure>
                                                            <img src="//themographics.com/wordpress/docdirect/wp-content/uploads/2016/08/banner-img2.jpg" alt="Search">
                                                        </figure>
                                                    </div>
                                                </div><div class="owl-item" style="width: 1349px;">
                                                    <div class="item">
                                                        <figure>
                                                            <img src="//themographics.com/wordpress/docdirect/wp-content/uploads/2016/08/banner-img3.jpg" alt="Search">
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"><i class="tg-prev fa fa-angle-left"></i></div><div class="owl-next"><i class="tg-next fa fa-angle-right"></i></div></div></div>
                                    </div>
                                    <script>
		jQuery(document).ready(function(e) {
            jQuery("#searchbanner-").owlCarousel({
				paginationSpeed : 400,
				slideSpeed : 300,
				autoPlay : true,
				singleItem:true,
				navigation : true,
				navigationText: [
					"<i class='tg-prev fa fa-angle-left'></i>",
					"<i class='tg-next fa fa-angle-right'></i>"
				]
			});
        });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="section-current-width"></div>    <section class="tg-main-section haslayout  stretch_section" style="position: relative; left: -89.5px; box-sizing: border-box; width: 1349px; padding-left: 89.5px; padding-right: 89.5px;">
                        <div class="builder-items">
                            <div class="col-xs-12 col-md-12 builder-column ">
                                <div class="sc-services">
                                    <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                                        <div class="tg-theme-heading">
                                            <h2>WHAT TO EXPECT</h2>
                                            <span class="tg-roundbox"></span>
                                            <div class="tg-description">
                                                <p>In just three simple steps, DocDirect will help you find your nearest healthcare setting without having to signup. We aim to facilitate you in finding your right doctor with just three clicks without having to ask around or wander to find your nearest healthcare facility.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tg-search-categories">
                                        <div class="row">
                                            <div class="col-sm-4 col-xs-12 tg-expectwidth">
                                                <div class="tg-search-category">
                                                    <div class="tg-displaytable">

                                                        <div class="tg-displaytablecell">
                                                            <div class="tg-box">
                                                                <a href="https://themographics.com/wordpress/docdirect/dir-search/?directory_type=doctor"><h3>find your doctor</h3></a>
                                                                <i class="icon-stethoscope"></i>
                                                                <a href="https://themographics.com/wordpress/docdirect/dir-search/?directory_type=doctor"><span class="tg-show"><em class="icon-add"></em></span></a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-xs-12 tg-expectwidth">
                                                <div class="tg-search-category">
                                                    <div class="tg-displaytable">

                                                        <div class="tg-displaytablecell">
                                                            <div class="tg-box">
                                                                <a href="https://themographics.com/wordpress/docdirect/dir-search/?directory_type=hospital"><h3>NEAREST HOSPITAL</h3></a>
                                                                <i class="icon-Hospitalmedicalsignalofacrossinacircle"></i>
                                                                <a href="https://themographics.com/wordpress/docdirect/dir-search/?directory_type=hospital"><span class="tg-show"><em class="icon-add"></em></span></a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-xs-12 tg-expectwidth">
                                                <div class="tg-search-category">
                                                    <div class="tg-displaytable">

                                                        <div class="tg-displaytablecell">
                                                            <div class="tg-box">
                                                                <a href="https://themographics.com/wordpress/docdirect/dir-search/?directory_type=pharmacy"><h3>NEAREST PHARMACY</h3></a>
                                                                <i class="icon-capsules"></i>
                                                                <a href="https://themographics.com/wordpress/docdirect/dir-search/?directory_type=pharmacy"><span class="tg-show"><em class="icon-add"></em></span></a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>
                    <div class="section-current-width"></div>    <section class="tg-main-section haslayout  stretch_section" style="background-image: url(&quot;https://themographics.com/wordpress/docdirect/wp-content/uploads/2016/08/bgparallax-03.jpg&quot;); background-repeat: no-repeat; background-position: 0% 100%; background-size: cover; position: relative; left: -89.5px; box-sizing: border-box; width: 1349px; padding-left: 89.5px; padding-right: 89.5px;">
                        <div class="builder-items">
                            <div class="col-xs-12 col-md-12 builder-column ">
                                <div class="sc-featured-users">
                                    <div class="col-sm-8 col-sm-offset-2 col-xs-12">
                                        <div class="tg-section-head tg-haslayout">
                                            <div class="tg-section-heading tg-haslayout">
                                                <h2>FEATURED LISTINGS</h2>
                                            </div>
                                            <div class="tg-description tg-haslayout">
                                                <p>In just three simple steps, DocDirect will help you find your nearest healthcare setting without having to signup. We aim to facilitate you in finding your right doctor with just three clicks without having to ask around or wander to find your nearest healthcare facility.</p>
                                            </div>
                                        </div>
                                    </div>


                                    <div id="tg-featuredlist-3" class="tg-featuredlist-slider tg-featuredlist-slider-v2 tg-haslayout owl-carousel owl-theme" style="opacity: 1; display: block;">
                                        <div class="owl-wrapper-outer">
                                            <div class="owl-wrapper" style="width: 3420px; left: 0px; display: block;">
                                                <div class="owl-item" style="width: 285px;">
                                                    <div class="item">
                                                        <figure>
                                                            <a href="https://themographics.com/wordpress/docdirect/fitness-center/better/"><img src="https://themographics.com/wordpress/docdirect/wp-content/uploads/2016/04/7-275x191.jpg" alt="User"></a>
                                                            <a data-view_type="v1" class="tg-like add-to-fav" data-wl_id="294" href="javascript:;"><i class="fa fa-heart"></i></a>																<span class="tg-featuredtags">
                                                                <a class="tg-featured" href="javascript:;">featured</a>
                                                            </span>
                                                            <span class="user-verified">
                                                                <svg id="Icon" xmlns="http://www.w3.org/2000/svg" width="74.875" height="21" viewBox="0 0 74.875 21">
                                                                    <defs>
                                                                        <style>
                                                                            .cls-1 {
                                                                                fill: #10a64a;
                                                                            }

                                                                            .cls-2 {
                                                                                font-size: 16px;
                                                                                text-anchor: middle;
                                                                                font-family: FontAwesome;
                                                                                text-transform: uppercase;
                                                                            }

                                                                            .cls-2, .cls-3 {
                                                                                fill: #fff;
                                                                            }

                                                                            .cls-3 {
                                                                                font-size: 14.437px;
                                                                                font-family: Montserrat;
                                                                            }
                                                                        </style>
                                                                    </defs>
                                                                    <rect id="BG" class="cls-1" width="74.875" height="21" rx="3" ry="3"></rect>
                                                                    <text id="_" data-name="" class="cls-2" transform="translate(14.829 14.99) scale(0.737 0.762)"></text>
                                                                    <text id="Verified" class="cls-3" transform="translate(22.787 15.191) scale(0.737 0.762)">Verified</text>
                                                                </svg>

                                                            </span>
                                                        </figure>
                                                        <div class="tg-contentbox">
                                                            <h3><a href="https://themographics.com/wordpress/docdirect/fitness-center/better/">Better Bodies</a></h3>
                                                            <div class="feature-rating">
                                                                <span class="tg-stars star-rating">
                                                                    <span style="width:80%"></span>
                                                                </span>
                                                                <em>4.0<sub>/5</sub></em>
                                                            </div>
                                                            <address>54 Park Rd, London NW4 3PH, UK</address>
                                                            <div class="tg-phone"><i class="fa fa-phone"></i> <em>50 235 856843</em></div>
                                                        </div>
                                                    </div>
                                                </div><div class="owl-item" style="width: 285px;">
                                                    <div class="item">
                                                        <figure>
                                                            <a href="https://themographics.com/wordpress/docdirect/fitness-center/popular/"><img src="https://themographics.com/wordpress/docdirect/wp-content/uploads/2016/04/9-275x191.jpg" alt="User"></a>
                                                            <a data-view_type="v1" class="tg-like add-to-fav" data-wl_id="296" href="javascript:;"><i class="fa fa-heart"></i></a>																<span class="tg-featuredtags">
                                                                <a class="tg-featured" href="javascript:;">featured</a>
                                                            </span>
                                                            <span class="user-verified">
                                                                <svg id="Icon" xmlns="http://www.w3.org/2000/svg" width="74.875" height="21" viewBox="0 0 74.875 21">
                                                                    <defs>
                                                                        <style>
                                                                            .cls-1 {
                                                                                fill: #10a64a;
                                                                            }

                                                                            .cls-2 {
                                                                                font-size: 16px;
                                                                                text-anchor: middle;
                                                                                font-family: FontAwesome;
                                                                                text-transform: uppercase;
                                                                            }

                                                                            .cls-2, .cls-3 {
                                                                                fill: #fff;
                                                                            }

                                                                            .cls-3 {
                                                                                font-size: 14.437px;
                                                                                font-family: Montserrat;
                                                                            }
                                                                        </style>
                                                                    </defs>
                                                                    <rect id="BG" class="cls-1" width="74.875" height="21" rx="3" ry="3"></rect>
                                                                    <text id="_" data-name="" class="cls-2" transform="translate(14.829 14.99) scale(0.737 0.762)"></text>
                                                                    <text id="Verified" class="cls-3" transform="translate(22.787 15.191) scale(0.737 0.762)">Verified</text>
                                                                </svg>

                                                            </span>
                                                        </figure>
                                                        <div class="tg-contentbox">
                                                            <h3><a href="https://themographics.com/wordpress/docdirect/fitness-center/popular/">Popular Gym</a></h3>
                                                            <div class="feature-rating">
                                                                <span class="tg-stars star-rating">
                                                                    <span style="width:100%"></span>
                                                                </span>
                                                                <em>5.0<sub>/5</sub></em>
                                                            </div>
                                                            <address>N Circular Rd, London N11, UK</address>
                                                            <div class="tg-phone"><i class="fa fa-phone"></i> <em>52 235 856843</em></div>
                                                        </div>
                                                    </div>
                                                </div><div class="owl-item" style="width: 285px;">
                                                    <div class="item">
                                                        <figure>
                                                            <a href="https://themographics.com/wordpress/docdirect/doctor/celia/"><img src="https://themographics.com/wordpress/docdirect/wp-content/uploads/2016/04/img-07-1-275x191.jpg" alt="User"></a>
                                                            <a data-view_type="v1" class="tg-like add-to-fav" data-wl_id="336" href="javascript:;"><i class="fa fa-heart"></i></a>																<span class="tg-featuredtags">
                                                                <a class="tg-featured" href="javascript:;">featured</a>
                                                            </span>
                                                            <span class="user-verified">
                                                                <svg id="Icon" xmlns="http://www.w3.org/2000/svg" width="74.875" height="21" viewBox="0 0 74.875 21">
                                                                    <defs>
                                                                        <style>
                                                                            .cls-1 {
                                                                                fill: #10a64a;
                                                                            }

                                                                            .cls-2 {
                                                                                font-size: 16px;
                                                                                text-anchor: middle;
                                                                                font-family: FontAwesome;
                                                                                text-transform: uppercase;
                                                                            }

                                                                            .cls-2, .cls-3 {
                                                                                fill: #fff;
                                                                            }

                                                                            .cls-3 {
                                                                                font-size: 14.437px;
                                                                                font-family: Montserrat;
                                                                            }
                                                                        </style>
                                                                    </defs>
                                                                    <rect id="BG" class="cls-1" width="74.875" height="21" rx="3" ry="3"></rect>
                                                                    <text id="_" data-name="" class="cls-2" transform="translate(14.829 14.99) scale(0.737 0.762)"></text>
                                                                    <text id="Verified" class="cls-3" transform="translate(22.787 15.191) scale(0.737 0.762)">Verified</text>
                                                                </svg>

                                                            </span>
                                                        </figure>
                                                        <div class="tg-contentbox">
                                                            <h3><a href="https://themographics.com/wordpress/docdirect/doctor/celia/">Dr Celia</a></h3>
                                                            <div class="feature-rating">
                                                                <span class="tg-stars star-rating">
                                                                    <span style="width:60%"></span>
                                                                </span>
                                                                <em>3.0<sub>/5</sub></em>
                                                            </div>
                                                            <address>Holland Walk, Kensington, London W8...</address>
                                                            <div class="tg-phone"><i class="fa fa-phone"></i> <em>60 235 856843</em></div>
                                                        </div>
                                                    </div>
                                                </div><div class="owl-item" style="width: 285px;">
                                                    <div class="item">
                                                        <figure>
                                                            <a href="https://themographics.com/wordpress/docdirect/doctor/delia/"><img src="https://themographics.com/wordpress/docdirect/wp-content/uploads/2016/04/img-05-1-275x191.jpg" alt="User"></a>
                                                            <a data-view_type="v1" class="tg-like add-to-fav" data-wl_id="334" href="javascript:;"><i class="fa fa-heart"></i></a>																<span class="tg-featuredtags">
                                                                <a class="tg-featured" href="javascript:;">featured</a>
                                                            </span>
                                                            <span class="user-verified">
                                                                <svg id="Icon" xmlns="http://www.w3.org/2000/svg" width="74.875" height="21" viewBox="0 0 74.875 21">
                                                                    <defs>
                                                                        <style>
                                                                            .cls-1 {
                                                                                fill: #10a64a;
                                                                            }

                                                                            .cls-2 {
                                                                                font-size: 16px;
                                                                                text-anchor: middle;
                                                                                font-family: FontAwesome;
                                                                                text-transform: uppercase;
                                                                            }

                                                                            .cls-2, .cls-3 {
                                                                                fill: #fff;
                                                                            }

                                                                            .cls-3 {
                                                                                font-size: 14.437px;
                                                                                font-family: Montserrat;
                                                                            }
                                                                        </style>
                                                                    </defs>
                                                                    <rect id="BG" class="cls-1" width="74.875" height="21" rx="3" ry="3"></rect>
                                                                    <text id="_" data-name="" class="cls-2" transform="translate(14.829 14.99) scale(0.737 0.762)"></text>
                                                                    <text id="Verified" class="cls-3" transform="translate(22.787 15.191) scale(0.737 0.762)">Verified</text>
                                                                </svg>

                                                            </span>
                                                        </figure>
                                                        <div class="tg-contentbox">
                                                            <h3><a href="https://themographics.com/wordpress/docdirect/doctor/delia/">Dr Delia</a></h3>
                                                            <div class="feature-rating">
                                                                <span class="tg-stars star-rating">
                                                                    <span style="width:60%"></span>
                                                                </span>
                                                                <em>3.0<sub>/5</sub></em>
                                                            </div>
                                                            <address>28 Gatcombe Mews, London, United Ki...</address>
                                                            <div class="tg-phone"><i class="fa fa-phone"></i> <em>58 235 856843</em></div>
                                                        </div>
                                                    </div>
                                                </div><div class="owl-item" style="width: 285px;">
                                                    <div class="item">
                                                        <figure>
                                                            <a href="https://themographics.com/wordpress/docdirect/doctor/steve/"><img src="https://themographics.com/wordpress/docdirect/wp-content/uploads/2016/04/img-01-1-275x191.jpg" alt="User"></a>
                                                            <a data-view_type="v1" class="tg-like add-to-fav" data-wl_id="330" href="javascript:;"><i class="fa fa-heart"></i></a>																<span class="tg-featuredtags">
                                                                <a class="tg-featured" href="javascript:;">featured</a>
                                                            </span>
                                                            <span class="user-verified">
                                                                <svg id="Icon" xmlns="http://www.w3.org/2000/svg" width="74.875" height="21" viewBox="0 0 74.875 21">
                                                                    <defs>
                                                                        <style>
                                                                            .cls-1 {
                                                                                fill: #10a64a;
                                                                            }

                                                                            .cls-2 {
                                                                                font-size: 16px;
                                                                                text-anchor: middle;
                                                                                font-family: FontAwesome;
                                                                                text-transform: uppercase;
                                                                            }

                                                                            .cls-2, .cls-3 {
                                                                                fill: #fff;
                                                                            }

                                                                            .cls-3 {
                                                                                font-size: 14.437px;
                                                                                font-family: Montserrat;
                                                                            }
                                                                        </style>
                                                                    </defs>
                                                                    <rect id="BG" class="cls-1" width="74.875" height="21" rx="3" ry="3"></rect>
                                                                    <text id="_" data-name="" class="cls-2" transform="translate(14.829 14.99) scale(0.737 0.762)"></text>
                                                                    <text id="Verified" class="cls-3" transform="translate(22.787 15.191) scale(0.737 0.762)">Verified</text>
                                                                </svg>

                                                            </span>
                                                        </figure>
                                                        <div class="tg-contentbox">
                                                            <h3><a href="https://themographics.com/wordpress/docdirect/doctor/steve/">Dr Steve</a></h3>
                                                            <div class="feature-rating">
                                                                <span class="tg-stars star-rating">
                                                                    <span style="width:80%"></span>
                                                                </span>
                                                                <em>4.0<sub>/5</sub></em>
                                                            </div>
                                                            <address>154 Bayswater Rd, London W2 4HP, UK</address>
                                                            <div class="tg-phone"><i class="fa fa-phone"></i> <em>54 235 856843</em></div>
                                                        </div>
                                                    </div>
                                                </div><div class="owl-item" style="width: 285px;">
                                                    <div class="item">
                                                        <figure>
                                                            <a href="https://themographics.com/wordpress/docdirect/pharmacy/bartell/"><img src="https://themographics.com/wordpress/docdirect/wp-content/uploads/2016/04/3-3-275x191.jpg" alt="User"></a>
                                                            <a data-view_type="v1" class="tg-like add-to-fav" data-wl_id="324" href="javascript:;"><i class="fa fa-heart"></i></a>																<span class="tg-featuredtags">
                                                                <a class="tg-featured" href="javascript:;">featured</a>
                                                            </span>
                                                            <span class="user-verified">
                                                                <svg id="Icon" xmlns="http://www.w3.org/2000/svg" width="74.875" height="21" viewBox="0 0 74.875 21">
                                                                    <defs>
                                                                        <style>
                                                                            .cls-1 {
                                                                                fill: #10a64a;
                                                                            }

                                                                            .cls-2 {
                                                                                font-size: 16px;
                                                                                text-anchor: middle;
                                                                                font-family: FontAwesome;
                                                                                text-transform: uppercase;
                                                                            }

                                                                            .cls-2, .cls-3 {
                                                                                fill: #fff;
                                                                            }

                                                                            .cls-3 {
                                                                                font-size: 14.437px;
                                                                                font-family: Montserrat;
                                                                            }
                                                                        </style>
                                                                    </defs>
                                                                    <rect id="BG" class="cls-1" width="74.875" height="21" rx="3" ry="3"></rect>
                                                                    <text id="_" data-name="" class="cls-2" transform="translate(14.829 14.99) scale(0.737 0.762)"></text>
                                                                    <text id="Verified" class="cls-3" transform="translate(22.787 15.191) scale(0.737 0.762)">Verified</text>
                                                                </svg>

                                                            </span>
                                                        </figure>
                                                        <div class="tg-contentbox">
                                                            <h3><a href="https://themographics.com/wordpress/docdirect/pharmacy/bartell/">Bartell Drugs</a></h3>
                                                            <div class="feature-rating">
                                                                <span class="tg-stars star-rating">
                                                                    <span style="width:80%"></span>
                                                                </span>
                                                                <em>4.0<sub>/5</sub></em>
                                                            </div>
                                                            <address>Roundhouse Ln, London E15 2DU, UK</address>
                                                            <div class="tg-phone"><i class="fa fa-phone"></i> <em>53 235 856843</em></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>





                                        <div class="owl-controls clickable"><div class="owl-buttons"><div class="owl-prev"><i class="tg-prev fa fa-angle-left"></i></div><div class="owl-next"><i class="tg-next fa fa-angle-right"></i></div></div></div>
                                    </div>
                                    <script>
	  	jQuery(document).ready(function(e) {
            jQuery("#tg-featuredlist-3").owlCarousel({
				autoPlay: false,
				items: 4,
				itemsDesktop: [1199, 3],
				itemsDesktopSmall: [991, 2],
				itemsTabletSmall: [568, 1],
				slideSpeed: 300,
				paginationSpeed: 400,
				pagination: false,
				navigation: true,
				navigationText: [
					"<i class='tg-prev fa fa-angle-left'></i>",
					"<i class='tg-next fa fa-angle-right'></i>"
				]
			});
        });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="section-current-width"></div>    <section class="tg-main-section haslayout  default">
                        <div class="builder-items">
                            <div class="col-xs-12 col-md-12 builder-column ">

                                <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                                    <div class="tg-theme-heading">
                                        <h2>TOP CATEGORIES</h2>
                                        <span class="tg-roundbox"></span>
                                        <div class="tg-description">
                                            <p>In just three simple steps, DocDirect will help you find your nearest healthcare setting without having to signup. We aim to facilitate you in finding your right doctor with just three clicks without having to ask around or wander to find your nearest healthcare facility.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-12 builder-column ">

                                <div class="sc-dir-types catagories-types">
                                    <div class="tg-findbycategorys">
                                        <div class="specialities-list">
                                            <ul>
                                                <li id="dir-127">
                                                    <div class="tg-checkbox user-selection">
                                                        <div class="tg-packages">
                                                            <a href="https://themographics.com/wordpress/docdirect/dir-search/?directory_type=doctor">
                                                                <label>
                                                                    <i class="icon-stethoscope"></i>
                                                                    Doctor<span class="count">13</span>
                                                                </label>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li id="dir-126">
                                                    <div class="tg-checkbox user-selection">
                                                        <div class="tg-packages">
                                                            <a href="https://themographics.com/wordpress/docdirect/dir-search/?directory_type=hospital">
                                                                <label>
                                                                    <i class="icon-Hospitalmedicalsignalofacrossinacircle"></i>
                                                                    hospital<span class="count">7</span>
                                                                </label>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li id="dir-125">
                                                    <div class="tg-checkbox user-selection">
                                                        <div class="tg-packages">
                                                            <a href="https://themographics.com/wordpress/docdirect/dir-search/?directory_type=clinic">
                                                                <label>
                                                                    <i class="icon-Clinichistorymedicalpaperonclipboard"></i>
                                                                    clinic<span class="count">9</span>
                                                                </label>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li id="dir-123">
                                                    <div class="tg-checkbox user-selection">
                                                        <div class="tg-packages">
                                                            <a href="https://themographics.com/wordpress/docdirect/dir-search/?directory_type=pharmacy">
                                                                <label>
                                                                    <i class="icon-Pills"></i>
                                                                    Pharmacy<span class="count">8</span>
                                                                </label>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li id="dir-122">
                                                    <div class="tg-checkbox user-selection">
                                                        <div class="tg-packages">
                                                            <a href="https://themographics.com/wordpress/docdirect/dir-search/?directory_type=blood-bank">
                                                                <label>
                                                                    <i class="icon-BloodDonation"></i>
                                                                    Blood Bank<span class="count">9</span>
                                                                </label>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li id="dir-121">
                                                    <div class="tg-checkbox user-selection">
                                                        <div class="tg-packages">
                                                            <a href="https://themographics.com/wordpress/docdirect/dir-search/?directory_type=fitness-center">
                                                                <label>
                                                                    <i class="icon-hairs"></i>
                                                                    Fitness Center<span class="count">9</span>
                                                                </label>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="tg-main-section haslayout  stretch_section" style="background-image: url(&quot;https://themographics.com/wordpress/docdirect/wp-content/uploads/2016/08/bgparallax-03.jpg&quot;); padding: 50px 89.5px; background-repeat: no-repeat; background-position: 0% 100%; background-size: cover; position: relative; left: -89.5px; box-sizing: border-box; width: 1349px;">
                        <div class="builder-items">
                            <div class="col-xs-12 col-md-12 builder-column ">
                                <div class="tg-buynowbox">
                                    <h3 style="color:#5d5955">ONE OF THE VERY FEW USER BASE DIRECTORY THEMES AVAILABLE.</h3>
                                    <a class="tg-btn" style="color:#5d5955" href="#">Read more</a>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="section-current-width"></div>    <section class="tg-main-section haslayout  default">
                        <div class="builder-items">
                            <div class="col-xs-12 col-md-6 builder-column ">

                                <div class="sc-about-us tg-healthcareonthego">
                                    <div class="tg-contentbox tg-haslayout">
                                        <div class="tg-heading-border">
                                            <h2>HEALTHCARE ON THE GO</h2>
                                        </div>
                                        <div class="tg-description">
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat wisi enim ad minim veniam quis nostrud.</p>
                                        </div>

                                        <ul>
                                            <li>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</li>
                                            <li>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum.</li>
                                            <li>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming.</li>

                                        </ul>
                                        <div class="tg-btns">
                                            <a class="tg-btn" href="#">buy now</a>
                                            <a class="tg-btn" href="#">screenshots</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 builder-column ">
                                <div class="sc-video ">
                                    <div class="tg-videobox">
                                        <figure>
                                            <img src="//themographics.com/wordpress/docdirect/wp-content/uploads/2016/08/aboutus-img.jpg" alt="video 1">
                                            <figcaption>
                                                <a class="tg-playbtn" href="https://www.youtube.com/watch?v=HLFzP1D7PKk" data-rel="prettyPhoto[iframe]" rel="prettyPhoto[iframe]"><i class="fa fa-play"></i></a>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="tg-main-section haslayout  stretch_section" data-speed="0.2" data-bleed="0" data-appear-top-offset="600" data-parallax="scroll" data-position="center 0" data-image-src="https://themographics.com/wordpress/docdirect/wp-content/uploads/2016/08/bgparallax-04.jpg" style="position: relative; left: -89.5px; box-sizing: border-box; width: 1349px; padding-left: 89.5px; padding-right: 89.5px;">
                        <div class="builder-items">
                            <div class="col-xs-12 col-md-6 builder-column ">
                                <div class="sc-counters tg-counter-facts">
                                    <div id="tg-counters-6" class="tg-counterarea">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="tg-counter">
                                                    <i class="fa fa-star-o"></i>
                                                    <div class="tg-contentbox">
                                                        <div class="tg-heading-border">
                                                            <span class="timer" data-from="0" data-to="1600" data-speed="8002" data-refresh-interval="50">1600</span>
                                                            <h3>happy-clients</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="tg-counter">
                                                    <i class="fa fa-trophy"></i>
                                                    <div class="tg-contentbox">
                                                        <div class="tg-heading-border">
                                                            <span class="timer" data-from="0" data-to="960" data-speed="8008" data-refresh-interval="50">960</span>
                                                            <h3>earn-awards</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="tg-counter">
                                                    <i class="icon-Clinichistorymedicalpaperonclipboard"></i>
                                                    <div class="tg-contentbox">
                                                        <div class="tg-heading-border">
                                                            <span class="timer" data-from="0" data-to="637" data-speed="8044" data-refresh-interval="50">637</span>
                                                            <h3>packages</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="tg-counter">
                                                    <i class="fa fa-users"></i>
                                                    <div class="tg-contentbox">
                                                        <div class="tg-heading-border">
                                                            <span class="timer" data-from="0" data-to="423" data-speed="8134" data-refresh-interval="50">423</span>
                                                            <h3>partners</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <script>
        jQuery(document).ready(function () {

            /* -------------------------------------
             COUNTER
             -------------------------------------- */
            try {
                jQuery('#tg-counters-6').appear(function () {
                    jQuery('.timer').countTo()
                });
            } catch (err) {
            }
        });

                                    </script>
                                </div>

                            </div>
                            <div class="col-xs-12 col-md-6 builder-column ">

                                <div class="sc-about-us tg-healthcareonthego">
                                    <div class="tg-contentbox tg-haslayout">
                                        <div class="tg-heading-border">
                                            <h2>SOME AMAZING FACTS</h2>

                                            <h3>CUSTOMER LOVE US</h3>
                                        </div>

                                        <ul>
                                            <li>Consectetur adipisicing elit sed do eiusmod tempor incididunt.</li>
                                            <li>Consectetur adipisicing elit sed do eiusmod tempor incididunt.</li>
                                            <li>Consectetur adipisicing elit sed do eiusmod tempor incididunt.</li>
                                            <li>Consectetur adipisicing elit sed do eiusmod tempor incididunt.</li>

                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="section-current-width"></div>    <section class="tg-main-section haslayout  default" style="padding-bottom:0px;background-repeat:no-repeat;background-position:0% 100%; background-size: cover;">
                        <div class="builder-items">
                            <div class="col-xs-12 col-md-12 builder-column ">
                                <div class="sc-teams-grid">
                                    <div class="tg-team-members">
                                        <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                                            <div class="tg-section-head">
                                                <div class="tg-theme-heading">
                                                    <h2>TEAM BEHIND DOCDIRECT</h2>
                                                    <span class="tg-roundbox"></span>
                                                </div>
                                                <div class="tg-description">
                                                    <p>In just three simple steps, DocDirect will help you find your nearest healthcare setting without having to signup. We aim to facilitate you in finding your right doctor with just three clicks without having to ask around or wander to find your nearest healthcare facility.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tg-teams-member">
                                            <div class="col-sm-4">
                                                <div class="tg-member">
                                                    <figure>
                                                        <img src="//themographics.com/wordpress/docdirect/wp-content/uploads/2016/08/img-01.jpg" alt="team">
                                                        <figcaption class="tg-share-icons">
                                                            <ul class="tg-socialicon">
                                                                <li class="tg-facebook"><a style="background:#3b5998" href="#"><i class="fa fa-facebook"></i></a></li>
                                                                <li class="tg-facebook"><a style="background:#55acee" href="#"><i class="fa fa-twitter"></i></a></li>
                                                                <li class="tg-facebook"><a style="background:#007bb5" href="#"><i class="fa fa-linkedin"></i></a></li>
                                                                <li class="tg-facebook"><a style="background:#cb2027" href="#"><i class="fa fa-google-plus"></i></a></li>
                                                            </ul>
                                                        </figcaption>
                                                    </figure>
                                                    <div class="tg-contentbox">
                                                        <h2>DAWSON DAWYNE<span>CEO &amp; FOUNDER</span></h2>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="tg-member">
                                                    <figure>
                                                        <img src="//themographics.com/wordpress/docdirect/wp-content/uploads/2016/08/img-02.jpg" alt="team">
                                                        <figcaption class="tg-share-icons">
                                                            <ul class="tg-socialicon">
                                                                <li class="tg-facebook"><a style="background:#3b5998" href="#"><i class="fa fa-facebook"></i></a></li>
                                                                <li class="tg-facebook"><a style="background:#55acee" href="#"><i class="fa fa-twitter"></i></a></li>
                                                                <li class="tg-facebook"><a style="background:#007bb5" href="#"><i class="fa fa-linkedin"></i></a></li>
                                                                <li class="tg-facebook"><a style="background:#cb2027" href="#"><i class="fa fa-google-plus"></i></a></li>
                                                            </ul>
                                                        </figcaption>
                                                    </figure>
                                                    <div class="tg-contentbox">
                                                        <h2>TIFANY RENY<span>FOUNDER</span></h2>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="tg-member">
                                                    <figure>
                                                        <img src="//themographics.com/wordpress/docdirect/wp-content/uploads/2016/08/img-03-1.jpg" alt="team">
                                                        <figcaption class="tg-share-icons">
                                                            <ul class="tg-socialicon">
                                                                <li class="tg-facebook"><a style="background:#3b5998" href="#"><i class="fa fa-facebook"></i></a></li>
                                                                <li class="tg-facebook"><a style="background:#55acee" href="#"><i class="fa fa-twitter"></i></a></li>
                                                                <li class="tg-facebook"><a style="background:#007bb5" href="#"><i class="fa fa-linkedin"></i></a></li>
                                                                <li class="tg-facebook"><a style="background:#cb2027" href="#"><i class="fa fa-google-plus"></i></a></li>
                                                            </ul>
                                                        </figcaption>
                                                    </figure>
                                                    <div class="tg-contentbox">
                                                        <h2>HECTOR ALLIE<span>CFO</span></h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>


