@using PagedList
@using PagedList.Mvc
@model IPagedList<TempDoctorViewModel>
@using DPTS.Web.Models
@{
    ViewBag.Title = "Search | DPTS";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var SearchModel = (SearchModel)ViewBag.SearchModel;

    AjaxOptions options = new AjaxOptions
    {
        UpdateTargetId = "searchResult",
        Confirm = "Are you sure to start search?",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "divLoading"
    };
}
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
@using (Ajax.BeginForm("_DoctorBox", options))
{
    @Html.Partial("_SearchNavigation", SearchModel)
    <div id="divLoading" style="color: red; width: 200px; background-color: yellow; fontsize: larger; display: none; position: absolute;">
        Loading ....
    </div>
    @*<div id="searchResult">
        @if (ViewBag.IsHomePageSearch)
        {
            @Html.Partial("_DoctorBoxForHomePage", Model);
        }
        else
        {
            @Html.Action("_DoctorBox")
        }
    </div>*@
}
