<div class="col-md-5 col-md-offset-4 col-sm-6 col-sm-offset-3" style="box-shadow: 0 0 20px 0 rgba(0,0,0,.2), 0 5px 5px 0 rgba(0,0,0,.24);">
    <ul class="tg-modaltabs-nav" role="tablist">
        <li role="presentation" class="active"><a href="#tg-signin-formarea" aria-controls="tg-signin-formarea" role="tab" data-toggle="tab" aria-expanded="false">Sign In</a></li>
        <li role="presentation" class=""><a href="#tg-signup-formarea" aria-controls="tg-signup-formarea" role="tab" data-toggle="tab" aria-expanded="true">Sign Up</a></li>
    </ul>
    <div class="tab-content tg-haslayout">
        <div role="tabpanel" class="tab-pane tg-haslayout active" id="tg-signin-formarea">
            @Html.Action("Login","Account")
        </div>
        <div role="tabpanel" class="tab-pane tg-haslayout" id="tg-signup-formarea">
            @Html.Action("Register", "Account")
        </div>
    </div>
</div>
