
@{
    ViewBag.Title = "Invoices Packages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    li {
     list-style: none; 
}
</style>
<main id="main" class="tg-page-wrapper tg-haslayout">
    <div class="container">
        <div class="row">
            @Html.Partial("AccountNavigation")
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 pull-right">
                    <div id="social-media-grid"></div>
                    <script>
                        $(document).ready(function() {
                            var crudServiceBaseUrl = "https://demos.telerik.com/kendo-ui/service",
                                dataSource = new kendo.data.DataSource({
                                    transport: {
                                        read: {
                                            url: "@Url.Action("SocialLink_Read","Doctor",new { docterId = "8359280f-6020-4b74-aade-374d5f2d29b5" })",
                                            type: "POST",
                                            dataType: "json"
                                        },
                                        update: {
                                            url: crudServiceBaseUrl + "/Products/Update",
                                            dataType: "jsonp"
                                        },
                                        destroy: {
                                            url: crudServiceBaseUrl + "/Products/Destroy",
                                            dataType: "jsonp"
                                        },
                                        create: {
                                            url: crudServiceBaseUrl + "/Products/Create",
                                            dataType: "jsonp"
                                        },
                                        parameterMap: function(options, operation) {
                                            if (operation !== "read" && options.models) {
                                                return { models: kendo.stringify(options.models) };
                                            }
                                        }
                                    },
                                    batch: true,
                                    pageSize: 20,
                                    schema: {
                                        model: {
                                            id: "Id",
                                            fields: {
                                                SocialLink: { editable: false, nullable: true },
                                                SocialType: { validation: { required: true } },
                                                //UnitPrice: { type: "number", validation: { required: true, min: 1 } },
                                                //Discontinued: { type: "boolean" },
                                                //UnitsInStock: { type: "number", validation: { min: 0, required: true } }
                                            }
                                        }
                                    }
                                });

                            $("#social-media-grid").kendoGrid({
                                dataSource: dataSource,
                                pageable: true,
                                height: 550,
                                toolbar: ["create"],
                                columns: [
                                    "SocialLink",
                                    //{ field: "UnitPrice", title: "Unit Price", format: "{0:c}", width: "120px" },
                                    //{ field: "UnitsInStock", title: "Units In Stock", width: "120px" },
                                    //{ field: "Discontinued", width: "120px" },
                                    { command: ["edit", "destroy"], title: "&nbsp;", width: "250px" }
                                ],
                                editable: "inline"
                            });
                        });
                    </script>
                </div>
        </div>
       </div>
    </main>

