<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 ">
    <aside id="tg-sidebar" class="dashboard-sidebar">
        <div class="tg-widget tg-widget-doctor">
            <figure class="tg-docprofile-img">
                <figcaption>
                    <h4></h4>
                </figcaption>
                <span class="user-verified">
                    <svg id="Icon" xmlns="http://www.w3.org/2000/svg" width="74.875" height="21" viewBox="0 0 74.875 21">
                        <defs>
                            <style>
                                .cls-1 {
                                    fill: #10a64a;
                                }

                                .cls-2 {
                                    font-size: 16px;
                                    text-anchor: middle;
                                    font-family: FontAwesome;
                                    text-transform: uppercase;
                                }

                                .cls-2, .cls-3 {
                                    fill: #fff;
                                }

                                .cls-3 {
                                    font-size: 14.437px;
                                    font-family: Montserrat;
                                }
                            </style>
                        </defs>
                        <rect id="BG" class="cls-1" width="74.875" height="21" rx="3" ry="3"></rect>
                        <text id="_" data-name="" class="cls-2" transform="translate(14.829 14.99) scale(0.737 0.762)"></text>
                        <text id="Verified" class="cls-3" transform="translate(22.787 15.191) scale(0.737 0.762)">Verified</text>
                    </svg>

                </span>
                <a><img src="https://themographics.com/wordpress/docdirect/wp-content/themes/docdirect/images/user300x300.jpg" alt="Avatar"></a>
            </figure>
        </div>
        <div class="tg-widget tg-widget-accordions">
            <h3>Dashboard</h3>
            <ul class="docdirect-menu">
                <li class="active"><a href="#">My Profile</a></li>
                <li class=""><a href="#">Profile Settings</a></li>
                <li class=""><a href="#">Favourites</a></li>
                <li class=""><a href="#">Invoices &amp; Packages</a></li>
                <li class=""><a href="#">My Schedules</a></li>
                <li class=""><a href="#">Booking Listings</a></li>
                <li class=""><a href="#">Booking Schedules</a></li>
                <li class=""><a href="#">Booking Settings</a></li>
                <li class=""><a href="#">Security Settings</a></li>
                <li class=""><a href="#">Privacy Settings</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </aside>

</div>