@{
    ViewBag.Title = ViewBag.ErrorCode + "-" + ViewBag.ErrorHeading;
}
  
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1>@ViewBag.ErrorCode - @ViewBag.ErrorHeading</h1>
            <p class="lead">@ViewBag.ErrorContent</p>
            <p>@Html.ActionLink("Go to Home", "Index", "Home", new { @class = "btn btn-primary btn-lg" })</p>
        </div>
    </div> 
</div>