@model DPTS.Web.Models.VisitorContactDeatilsModel
@{
    ViewBag.Title = "contact detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="modal-dialog modal-lg tg-modalcontent" role="document">
@using (Html.BeginForm("VisitorContactDeatils", "Appointment", FormMethod.Post, new { id = "availableSchedule-form", @class = "appointment-form" }))
{
        <fieldset class="booking-model-contents">
            <ul class="tg-navdocappointment" role="tablist">
                <li><a href="javascript:;" class="bk-step-2">1. available schedule</a></li>
                <li class="active"><a href="javascript:;" class="bk-step-3">2. your contact detail</a></li>
                <li><a href="javascript:;" class="bk-step-4">3. Payment Mode</a></li>
                <li><a href="javascript:;" class="bk-step-5">4. Finish</a></li>
            </ul>
            <div class="tab-content tg-appointmenttabcontent" data-id="330">
                <div class="tab-pane step-three-contents" id="three" style="display: block;">
                    <div class="bk-customer-form">
                        <input type="hidden" id="doctorId" name="doctorId" value="@Model.doctorId">
                        <div class="form-group">
                            <input type="text" class="form-control" name="Subject" placeholder="Subject*">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="Name" value="" placeholder="Your Name*">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="Email" value="" placeholder="Email*">
                        </div>
                        <div class="form-group tg-textarea">
                            <textarea class="form-control" name="Note" placeholder="Note*"></textarea>
                        </div>
                        <div class="form-group tg-pay-radiobox bk-elm-hide">
                            <label>
                                <input type="radio" value="local" name="payment" checked="">
                                <span>I will pay locally.</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="tg-btnbox booking-step-button">
                    <button type="submit" name="Command" value="previous" class="tg-btn bk-step-prev">Previous</button>
                    <button type="submit" name="Command" value="next" class="tg-btn bk-step-next">next</button>
                </div>
            </div>
        </fieldset>
}
</div>
